/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #283af7;
  --ifm-color-primary-dark: #0c21f6;
  --ifm-color-primary-darker: #091ceb;
  --ifm-color-primary-darkest: #0717c2;
  --ifm-color-primary-light: #4453f8;
  --ifm-color-primary-lighter: #5260f9;
  --ifm-color-primary-lightest: #7b86fa;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #7e9bd2;
  --ifm-color-primary-dark: #6588c9;
  --ifm-color-primary-darker: #597ec5;
  --ifm-color-primary-darkest: #3d64ae;
  --ifm-color-primary-light: #97aedb;
  --ifm-color-primary-lighter: #a3b8df;
  --ifm-color-primary-lightest: #c9d5ec;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.navbar__logo img {
  height: 33px;
}

figure img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

figure figcaption {
  text-align: center;
}